<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Metrics Maintenance</title>
<link href="/styles/styles.css" type="text/css" rel="stylesheet" />
</head>
<body>
<h2>Metrics</h2>

<p><a href="/" style="color:black">Logout</a></p>
<table>
	<tr><th>Metric Name</th><th></th></tr>
	<tr th:each="m:${metrics}">
	<td th:text="${m.project_id}" style="display:none;"></td>
	<td><a th:href="'/displaygraph/' + ${m.metric_name}"><span style="color:black" th:text="${m.metric_name}"></td>
	
	</tr>
</table>



</body>
</html>