<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Metrics Projects</title>
<link href="/styles/styles.css" type="text/css" rel="stylesheet" />
</head>
<body>
<h2>Projects</h2>
<p><a href="/homemanagers" style="color:black">Home</a></p>

<table>
	<tr><th>Project ID</th><th>Project Name</th><th>Project Category</th>
	</tr>
	<tr th:each="p:${projects}">
	<td th:text="${p.manager_id}" style="display:none;"></td>
	<td><a th:href="'/metricsdisplay/' + ${p.project_id}"><span style="color:black" th:text="${p.project_id}"></td><td th:text="${p.project_name}"></td>
	<td th:text="${p.project_category}"></td>
	
	</tr>
</table>

</body>
</html>