<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Projects Maintenance</title>
<link href="/styles/styles.css" type="text/css" rel="stylesheet" />
</head>
<body>
<h2>Projects</h2>
<p><a href="/homemanagers" style="color:black">Home</a></p>

<table>
	<tr><th>Metric Name</th><th>Metric Value</th><th></th>
	</tr>
	<tr th:each="p:${metrics}">
	<td><a th:href="'/editmetricbyname/' + ${p.metric_name}"><span style="color:black" th:text="${p.metric_name}"></span></td>
	<td th:text="${p.metric_value}"></td><td th:text="${p.month}" style="display:none;"></td>
	</tr>
</table>
</body>
</html>